{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Projects{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <h3>Personal Developer Website:</h3>
  <p>
    This assignment will teach you the fundamentals of website construction. You will build a personal developer website
    that includes a biography, contact information/links, and details about your Python projects. This will give you a
    chance to both be creative and learn the fundamentals of website development.
  </p>
  <p>
    You will practice working with Flask, a micro web framework written in Python. You will first learn to work with
    HTML, and then you will learn to work with cascading style sheets (CSS) to describe how HTML elements are to be
    displayed. Your output should be a functional personal website that includes details about you, your projects,
    and contact information.
  </p>
<div>
  <a class="btn" href="https://github.com/dawnaproskourine/jhu_software_concepts/tree/main/module_1/personal_website" target="_blank">GitHub</a>
</div>
{% endblock content %}