* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: justify;
  text-align-last: left;
}

a,
a:visited {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}



nav {
    display: flex;
    justify-content: end;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

nav ul li.active {
    background-color: #4CAF50;
    color: white;
}

main {
  width: 80%;
  margin: 0 auto;
}